/* * {
    border: 1px dotted red;
} */

.init {
    box-sizing: border-box;
    background-color: #1B0D26;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #84d876;
    font-size: 4vw;
}

.top-nav {
    display: flex;
    margin: 0;
    padding: 2vh 5vw;
    color: #bce4bc;
    justify-content: space-between;
    flex-direction: row;
    font-size: 7vw;
    border-bottom: 0.3vh solid #84d876;
}

.top-nav #hamburger:hover {
    color: #84d876;
}

#menu {
    display: none;
    z-index: 1;
    /* display: inline-grid; */
    position: absolute;
    justify-self: baseline;
    width: 16.5vw;
    margin-top: -0.3vh;
    background-color: rgba(255, 221, 29, 0.05);
}

#menu a {
    display: flex;
    font-size: 3vw;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #84d876;
    border: 0.2vh solid #84d876;
    border-top: none;
    padding: 0.5vh 0 1vh;
}

#appName {
    color: yellow;
    text-shadow: 3px 1px 4px rgb(187, 190, 20, 0.6);
    -webkit-text-stroke: 0.05vw yellow;
    -webkit-text-fill-color: rgba(179, 190, 20, 0.4);
    font-family: 'Oleo Script Swash Caps', cursive;
}

.step-tracker {
    color: #bce4bc;
    text-align: center;
}

#step {
    font-size: 5vw;
    padding: 0;
    margin: 3vh 0 1vh;
}

#circles {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    padding: 0;
    margin: 1vh 0 3vh;
}

#dash {
    transform: translateY(-0.1vh);
}

form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 0 20% 2%;
    border: 2px solid rgba(188, 228, 188, 80%);
    border-radius: 1vh 1vw;
}

input {
    width: 40%;
    height: 10%;
    font-weight: 600;
    font-size: calc(10px + 0.5vh + 0.5vw);
    margin: 2% 0 5% 0;
    border: 2px solid yellowgreen;
    border: 2px solid rgba(179, 190, 20, 0.4);
}

button {
    width: calc(7vh + 7vw);
    height: calc(2.5vh + 2.5vw);
    align-self: flex-end;
    font-size: calc(1vw + 1vh);
    background-color: rgba(252, 216, 17, 0.795);
}