/* * {
    border: 1px dotted red;
} */

.init {
    box-sizing: border-box;
    background-color: #1a171d;
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #84d876;
    font-size: 4vw;
}

.top-nav {
    display: flex;
    margin: 0;
    padding: 1vh 5vw;
    color: #bce4bc;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    font-size: 7vw;
    border-bottom: 3px solid #84d876;
    background-color: #1d0e1f80;
    background-image: url("../img/random-grey-variations.png");
}

.top-nav #hamburger:hover {
    color: #84d876;
}

.top-nav #small-menu {
    display: none;
}

#menu {
    display: none;
    /* display: inline-grid; */
    position: absolute;
    justify-self: baseline;
    width: 16.5vw;
    font-size: 3vw;
    margin-top: -3px;
    /* background-color: rgba(133, 20, 240, 0.082); */
    background-color: rgba(29, 14, 31, 0.5);
    background-image: url("../img/random-grey-variations.png");
}

#menu a {
    display: flex;
    text-decoration: none;
    color: #84d876;
    border: 0.2vh solid #84d876;
    border-top: none;
    border-left: none;
    padding: 0.5vh 0 1vh;
}

#menu a, #circles {
    justify-content: center;
    align-items: center;
}

#circles {
    display: none;
}

#menu a:last-child {
    border-bottom-right-radius: 3px;
}

#appName {
    color: rgb(200, 255, 10);
    text-shadow: 3px 1px 4px rgb(159, 190, 20, 0.6);
    -webkit-text-stroke: 0.05vw rgb(200, 255, 10);
    -webkit-text-fill-color: rgba(159, 190, 20, 0.4);
    font-family: 'Oleo Script Swash Caps', cursive;
}

.step-tracker {
    color: #bce4bc;
    text-align: center;
    text-shadow: 1px 1px 3px rgb(187, 190, 20, 0.6);
}

#step {
    font-size: 5vw;
    margin: 3vh 0 1vh;
}

#circles {
    font-size: 8vw;
    margin: 1vh 0 3vh;
}

#dash {
    transform: translateY(calc(-0.2vh + -0.2vw));
}

form {
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin: 0 20% 2%;
    border: 2px solid rgba(188, 228, 188, 80%);
    border-radius: 1vh;
    background-color: #1d0e1f80;
    background-image: url("../img/random-grey-variations.png");
    box-shadow: 1px 1px 6px rgba(220, 226, 129, 0.5);
    text-shadow: 1px 1px 3px rgb(187, 190, 20, 0.5);
}

input {
    width: 40%;
    height: 10%;
    font-weight: 600;
    font-size: calc(10px + 0.5vh + 0.5vw);
    margin: 2% 0 5% 0;
    border: 2px rgba(32, 16, 39, 0.7);
    border-radius: 8px/6px;
    box-shadow: inset -1px 2px 5px rgba(32, 16, 39, 0.7);
}

input:focus {
    box-shadow: inset 0 -2px 4px yellowgreen;
}

::placeholder {
    font-style: italic;
}

form > span {
    font-size: calc(10px + 0.5vw);
    color: rgba(185, 21, 21, 0.8);
    text-shadow: 1px 1px 3px rgba(125, 21, 21, 0.8);
    display: none;
}

p > span {
    color:rgb(252, 237, 7);
}

p > span:last-child {
    color: #84d876;
    font-size: calc(5px + 1.5vw);
}

#next {
    width: calc(7vh + 7vw);
    height: calc(2.5vh + 2.5vw);
    align-self: flex-end;
    font-size: calc(1vw + 1vh);
    font-weight: bold;
    background-color: rgb(222, 247, 20);
    border-radius: 4%/10%;
    box-shadow: 1px 2px 5px rgba(85, 36, 105, 0.719);
    color:rgba(32, 16, 39, 0.938)
}

#large-menu {
    display: none;
    font-size: 3vw;
    text-decoration: none;
    color: #84d876;
    text-shadow: 1px 1px 3px rgb(187, 190, 20, 0.5);
    text-align: center;
}

#footer {
    text-align: center;
    margin-top: calc(20px + 1vw + 1vh);
    font-size: 1vw;
    color:rgba(213, 250, 49, 0.5);
    text-shadow: 0px 0px 1px rgba(235, 224, 45, 0.582);
}



@media only screen and (min-width: 505px) {
    #circles {
        display: flex;
    }
}

@media only screen and (min-width: 800px) {
    .fa-bars:before, .fa-bolt:before {
        content: none;
    }
    #large-menu {
        display: inline-block;
    }
    menu {
        display: none;
    }
}

@media only screen and (min-width: 1081px) {
    .init {
        font-size: 44px;
    }
    .top-nav {
        font-size: 77px;
        padding: 12px 54px;
        justify-content: space-around;
    }
    #step {
        font-size: 55px;
    }
    #circles {
        font-size: 88px;
    }
    form {
        width: 580px;
        justify-self: center;
        margin: auto;
        padding: 33px;
        border-radius: 11px;
    }
    #menu {
        width: 178px;
        font-size: 33px;
    }
    #next {
        width: 146px;
        height: 52px;
        font-size: 24px;
        padding: 0;
        margin: 0;
    }
    #large-menu {
        font-size: 33px;
    }
    #footer {
        font-size: 11px;
    }
}
